[Unit]
Description = Weather Display Station
After = network.target
 
[Service]
Type = simple
ExecStart = python <APP_DIR> -c config.cfg
User = root
Group = root
Restart = on-failure
SyslogIdentifier = <APP_DIR>/weather_display_service.log
RestartSec = 30
TimeoutStartSec = infinity
 
[Install]
WantedBy = multi-user.target